.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 2em;
  color: white;
}

.video {
  height: 400px;
  width: 600px;
}